<div class="text-center padding">
    <section>
        <form asp-controller="User" asp-action="Login" method="post">
            <label for="username">Uživatelské jméno</label>
            <input class="form-control" type="text" id="username" name="username" placeholder="Uživatelské jméno"/>
            <label for="password">Heslo</label>
            <input class="form-control" id="password" name="password" type="password" placeholder="Heslo"/>
            <input type="submit" class="btn btn-primary" name="submit" value="Přihlásit se"/>
        </form>
        Registrace <a asp-controller="User" asp-action="SignUp" id="signup">zde.</a>
    </section>
</div>