<div class="text-center">
  <h1 class="text-center">Registrace</h1>
</div>
<div class="text-center">
  <section>
    <form asp-controller="User" asp-action="SignUpPost" method="post">
      <div class="text-center">
        <input class="form-control" name="username" placeholder="Uživatelské jméno"/>
      </div>
      <div class="text-center">
        <input class="form-control" name="password" type="password" placeholder="Heslo"/>
      </div>
      <div class="text-center">
        <input type="submit" class="btn btn-primary" name="submit" value="Registrovat se"/>
      </div>
    </form>
  </section>
</div>