@{
    ViewData["Title"] = "Home Page";
}
@model BudgetTrackingApp.Models.HomepageModel
<div class="text-center" id="parent-div">
    <h1 class="pd-5">Výdaje</h1>
    <section>
        <form asp-controller="Home" asp-action="AddExpense" method="post">
            <div class="row justify-content-center">
                <div class="col-6 col-lg-3">
                    <input autocomplete="off" id="description" class="form-control " name="description" placeholder="Popis výdaje"/>
                </div>
                <div class="col-6 col-lg-3">
                    <input class="form-control" name="amount" type="number" placeholder="Částka v Kč"/>
                </div>
                <div class="col-6 col-lg-2 pt-1">
                    <select name="category" class="form-control">
                        <option value="groceries">Nákup</option>
                        <option value="food">Jídlo (restaurace)</option>
                        <option value="housing">Bydlení</option>
                        <option value="drinks">Pití (zbytné)</option>
                        <option value="transport">Doprava</option>
                    </select>
                </div>
                <div class="col-6 col-lg-1 pt-1">
                    <button class="btn btn-primary w-100" hx-post="/Home/Addexpense" hx-target="body" hx-swap="innerHTML" type="submit" name="submit" value="Přidat">Přidat</button>
                </div>
            </div>
        </form>
    </section>
    <section>
        <table class="table">
            <thead>
            <th>Výdaj</th>
            <th>Cena v Kč</th>
            <th>Datum</th>
            </thead>
            <tbody>
            @foreach (var categoryName in Model.Expenses.Keys)
            {
                <tr><td class="border-bottom-0"><b>@Model.CategoryNames[categoryName]</b></td></tr>
                @foreach (var expense in Model.Expenses[categoryName])
                {
                    <tr>
                        <td>@expense.Description</td>
                        <td>@expense.Amount</td>
                        <td>@expense.Created.ToString("d. M. yyyy")</td>
                    </tr>
                }    
            }
            </tbody>
        </table>
    </section>
</div>