body {
    margin: 0;
}

.nav {
    margin: 0;
    background-color: #36d1c4;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

ul li:first-child {
    background-color: violet;
}

ul li {
    padding: 10px 25px;
}

li a {
    text-decoration: none;
    color: black;
}


.first-color {
    background: #36d1c4;
}

.second-color {
    background: #a0eecc;
}

.third-color {
    background: #fff2be;
}

.fourth-color {
    background: #f6318c;
}