@{
    ViewData["Title"] = "Útrata";
}
@model BudgetTrackingApp.Models.InsightsModel.Model


<div class="text-center">
    <h1 class="pd-5">Útrata</h1>
    <table class="table-info">
        <tr>
            <th>Kategorie</th>
            <th>Tento rok</th>
            <th>Měsíc</th>
            <th>Týden</th>
        </tr>
        @foreach (var category in Model.Categories)
        {
            <tr>
                <td>@category.Name</td>
                <td>@category.YearlyTotal</td>
                <td>@category.MonthlyTotal</td>
                <td>@category.WeeklyTotal</td>
            </tr>
        }
    </table>
</div>