<main class="container mx-auto px-4">
    <h1 class="text-2xl font-bold">Přihlášení</h1>
    <form method="post" class="space-y-4">
        <div class="space-y-2">
            <label for="username">Uživatelské jméno</label>
            <input type="text" id="username" name="username" class="w-full p-2 border border-gray-300 rounded-md"/>
        </div>
        <div class="space-y-2">
            <label for="password">Heslo</label>
            <input type="password" id="password" name="password" class="w-full p-2 border border-gray-300 rounded-md"/>
        </div>
        <button type="submit" class="bg-blue-500 text-white p-2 rounded-md">Přihlásit se</button>
    </form>
</main>